body {
    background-color: rgb(61, 61, 61);
    text-align: center;
    margin-top: 130px;
    font-family: Arial, Helvetica, sans-serif;
}

.central {
    justify-content: center;
    align-items: center;
    height: 100;
    display: block;
}
h1,h2,h3,h4{
    color: #f1f1f1;
}

input[type=email],
input[type=password],
input[type=number],
input[type=date],
input[type=text] {
    width: 240px;
    margin: 8px;
    padding: 12px;
    background: NONE;
    border: 3px solid #303030;
    border-radius: 15px;
    color: #ffffff;
    outline: none;
    font-size: 15px;
}

.button {
    padding: 10px;
    margin: 15px;
    width: 150px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #9a9a9a;
    background-color: #303030;
    align-items: center;
}

.title {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.checkbox {
    color: #ffffff;
    display: left;
}

.link {
    color: #ffff;
}

.psc {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    color: rgb(133, 133, 133);
    margin-top: 10px;

}

.col1 {
    align-items: center;
    margin-top: 15px;
}

.olho {
    cursor: pointer;
    margin: 23px -40px;
    position: absolute;
    width: 20px;
}

/* navbar */
/* nav {
    background-color: #000000;
    height: 0%;
    position:fixed;
    top: 0%;
    width: 100%;
    padding: 1.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.btnNavBar{
    color: rgb(255, 255, 255);
    border-radius: 2px;
}

.nameSite{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

li {
    float: right; 
    
}

li a {
    display: inline;
    color: white;
    text-decoration: none;
    list-style-type: none;
    line-height: 50px;
    margin-left: 20px;
}
 */
