body {
    background: linear-gradient(to right, rgb(14, 14, 14), #383c3f);
    text-align: center;
    margin-top: 170px;
    display: block;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    min-height: 100vh;
}


h1,h2,h3,h4{
    color: #f1f1f1;
}

input[type=email],
input[type=password],
input[type=number],
input[type=date],
input[type=text] {
    width: 340px;
    margin: 8px;
    padding: 12px;
    background: NONE;
    border: 3px solid #303030;
    border-radius: 5px;
    color: #ffffff;
    outline: none;
    font-size: 15px;
}

.button {
    padding: 10px;
    margin: 15px;
    width: 360px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border:none;
    background: linear-gradient(to right, #7d45ff,  #4100d8);
    align-items: center;
}

.title {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.checkbox {
    display: left;
}

.link {
    color:  rgb(7, 144, 185);
}

.psc {
    color:  rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 17px;
}

.col1 {
    align-items: center;
    margin-top: 15px;
    font-size: 13px;
    color:  rgb(255, 255, 255);
}

.olho {
    cursor: pointer;
    margin: 23px -40px;
    position: absolute;
    width: 20px;
}

.perfil {
    width: 155px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(79, 80, 79, 0.5);
    padding: 0;

  }
*{
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }