body {
    background-color: rgb(38, 38, 38);
    text-align: center;
    margin-top: 130px;
    font-family: Arial, Helvetica, sans-serif;
}

.central {
    justify-content: center;
    align-items: center;
    height: 100;
    display: block;
}
h1,h2,h3,h4{
    color: #f1f1f1;
}

input[type=email],
input[type=password],
input[type=number],
input[type=date],
input[type=text] {
    width: 240px;
    margin: 8px;
    padding: 12px;
    background: NONE;
    border: 3px solid #303030;
    border-radius: 15px;
    color: #ffffff;
    outline: none;
    font-size: 15px;
}

.buttonc {
    padding: 10px;
    margin: 15px;
    width: 150px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #9a9a9a;
    background-color: #303030;
    align-items: center;
}

.title {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.checkbox {
    color: #ffffff;
    display: left;
}

.link {
    color: #ffff;
}

.psc {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    color: rgb(133, 133, 133);
    margin-top: 10px;

}

.col1 {
    align-items: center;
    margin-top: 15px;
}

.olho {
    cursor: pointer;
    margin: 23px -40px;
    position: absolute;
    width: 20px;
}
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 16px;
  }

  /* Define o estilo dos links na barra lateral */
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
  }

  /* Define o estilo dos links na barra lateral ao passar o mouse */
  .sidebar a:hover {
    color: #ffffff;
  }

  .imagX{
    width: 25px;
    height: 20px;
    padding-top: 12px;
    margin-left: -32px;
    
  }
  .btnX{
    width: 30px;
    height: 25px;  
    padding: 0px;
    border-color: #f1f1f1;
    border-color: transparent;
    background-color: transparent;
}
